<html>
<head>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://tailwindui.com/css/components-v2.css" />
</head>
<body>
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Wishlist
            </h2>
            <p class="mt-6 text-center text-l text-gray-900">
                We have sent you a magic link to your email address.<br />
                Click the link to login automatically.
            </p>
        </div>
    </div>
</div>
</body>
</html>
